.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #242424;
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.circle__off {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.circle__on {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


.btn:hover {
  background-color: #fff;
  color: #242424;
}

.Multilamps {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10em;
}